---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="PabloVallecillos">
	<h1>Deselma CRM</h1>
	<img class="rounded-t-lg" src=`/projects/deselma_gestion_frontend.png` alt="" transition:name="deselma_gestion_frontend" />
</Layout>
