---
import Layout from '@/layouts/Layout.astro';
import SectionContainer from "@/components/SectionContainer.astro";
import Projects from "@/components/Projects.astro";
import { Vue, Laravel, Bash, Angular, Wordpress, Commit, ZendFramework, React, Php, Flutter, Nuxt, Aws, Mysql } from "@/components/icons/Icons.astro";

const PROJECTS = [
	{
		"title": "Deselma CRM",
		"name": "deselma_gestion_frontend",
		"description": "VueJS web application to display the call center communication. Call management and classification, billing of minutes and system status control.",
		"url": "https://gestion.deselmacrm.com",
		"commits": 469,
		"tags": [{icon: Vue}, {icon: Commit}]
	},
	{
		"title": "Deselma API",
		"name": "deselma_gestion_backend",
		"description": "Laravel API and Sockets to obtain the call center communication. Call management and classification, billing of minutes and system status control.",
		"url": "https://api.deselmacrm.com/api/documentation",
		"commits": 298,
		"tags": [{icon: Laravel}]
	},
	{
		"title": "Kalma MKT",
		"name": "kalma_front",
		"description": "Ecommerce frontend dedicated to the sale of dental and clinical products to its distribution network.",
		"url": "https://kalma.es/tiendaonline/marketplace",
		"commits": 457,
		"tags": [{icon: Angular}]
	},
	{
		"title": "Kalma API",
		"name": "kalma",
		"description": "Laravel API that manages listings, cart, checkout with payment gateways, customer service, returns, file download, email sending, background processes and more functionalities for the frontend to work.",
		"url": "https://api.kalma.es/api/documentation",
		"commits": 693,
		"tags": [{icon: Laravel}]
	},
	{
		"title": "Owico MKT",
		"name": "owico",
		"description": "Legacy project created in wordpress, with custom implementations, it is an ecommerce to sell dental products.",
		"url": null,
		"commits": 198,
		"tags": [{icon: Wordpress}]
	},
	{
		"title": "Sivoy APP",
		"name": "voyapp",
		"description": "Flutter APP to manage soccer clubs, being able to have a follow up of the matches played, results, statistics and different line-ups. With ios and android support",
		"url": ["https://apps.apple.com/es/app/sivoy/id6443781704", "https://play.google.com/store/apps/details?id=es.comerline.sivoy"],
		"commits": 457,
		"tags": [{icon: Flutter}]
	},
	{
		"title": "Sivoy API",
		"name": "voyapi",
		"description": "Laravel API that manages matchmaking, app notifications, crud of entities, login and more functionalities for the frontend to work.",
		"url": "https://api.sivoy.app/api/documentation",
		"commits": 307,
		"tags": [{icon: Laravel}]
	},
	{
		"title": "Sivoy WEB",
		"name": "sivoy_web",
		"description": "Corporate website to have online presence, explain the application, download it, questions and answers, contact, opinions and more.",
		"url": "https://sivoy.app/",
		"commits": 8,
		"tags": [{icon: Wordpress}]
	},
	{
		"title": "Lotteries WEB",
		"name": "lottery",
		"description": "More than 65 lottery administrations developed with WordPress and WooCommerce to sell tickets online, inform about it, contact, history and more.",
		"url": "https://www.loteriabidebarrieta.com/",
		"commits": 58/* installation */,
		"tags": [{icon: Wordpress}]
	},
	{
		"title": "Lotteries SCRIPTS",
		"name": "lottery_scripts",
		"description": "Script development to support connectivity with third parties, automatic web assembly, email sending and more.",
		"url": null,
		"commits": 16/* lottery_scripts */+7/* scripts */,
		"tags": [{icon: Bash}, {icon: Php}]
	},
	{
		"title": "Lottery Synchronyzer MICOSERVICE",
		"name": "lottery_sync",
		"description": "It is a php service that synchronizes the lottery decimos from SUTIL (a third party service) in a mysql database.",
		"url": null,
		"commits": 7,
		"tags": [{icon: Php}, {icon: Aws}, {icon: Mysql}]
	},
	// {
	// 	"title": "Perseed WEB",
	// 	"name": "perseed",
	// 	"description": "Legacy project of a platform that manages clinical data analysis with microservices, cloud services and more.",
	// 	"url": null /* Pedir a dani alguna url de producción y fotos */,
	// 	"commits": 15,
	// 	"tags": [{icon: ZendFramework}]
	// },
	{
		"title": "OCG Management WEB",
		"name": "ocg_gestion",
		"description": "Project created with Laravel and Infyom for the management of dynamic forms to book or offer bookings in ocg",
		"url": "https://gestion.orquestaciudadgranada.es",
		"commits": 350,
		"tags": [{icon: Laravel}]
	},
	{
		"title": "Ofilingua WEB",
		"name": "ofilingua",
		"description": "Legacy project created with Laravel and React that manages translation services as well as interpreters, clients, dependencies and more.",
		"url": "https://preprod.ofilingua.com/login",
		"commits": 10,
		"tags": [{icon: Laravel}, {icon: React}]
	},
	{
		"title": "ISBUE APP",
		"name": "isbue_flutter",
		"description": "Isbue app is a project to access your information from your Android terminal. In it you can manage your customers, orders, treasury, incidents, POS and virtual stores. It is the perfect complement for your operations and commercial actions. An ERP/CRM. With web, android and ios support.",
		"url": ["https://app.isbue.io/login", "https://play.google.com/store/apps/details?id=com.libra.isbue_flutter.isbue_flutter"],
		"commits": 180,
		"tags": [{icon: Flutter}]
	},
	{
		"title": "DOC.ISBUE WEB",
		"name": "isbue_doc",
		"description": "It is a project that consumes an API and displays the content of the software documentation in a Nuxt project.",
		"url": "https://doc.isbue.io/",
		"commits": 43,
		"tags": [{icon: Nuxt}]
	},
	{
		"title": "ISBUE WEB",
		"name": "isbue",
		"description": "This is the isbue landing page developed with Wordpress.",
		"url": "https://isbue.io/",
		"commits": 27,
		"tags": [{icon: Wordpress}]
	},
	{
		"title": "ISBUE API",
		"name": "isbue",
		"description": "This is the isbue landing page developed with Wordpress.",
		"url": "https://isbue.io/",
		"commits": 27,
		"tags": [{icon: Wordpress}]
	},
	{
		"title": "G4100 API MIDDLEWARE",
		"name": "g4100_middleware",
		"description": "It is a project that streamlines communication with a legacy API developed with Laravel.",
		"url": "https://api.isbue.io/api/documentation",
		"commits": 39,
		"tags": [{icon: Laravel}]
	},

]

---

<Layout title="Pablo Vallecillos">
	<main>
		<SectionContainer id="projects" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 py-4">
			<Projects projects={PROJECTS} />
		</SectionContainer>
	</main>
</Layout>
