---
interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<article>
	<h2>04 March 2018</h2>
	<p>Periods of rain.</p>
</article>

<style>
	article {
		border: 1px solid rgb(var(--black));
	}
</style>
